#greenbackground {
	background-color: #dff0d8;
}

.image-border {
	border: 1px solid black;
}


#bluebackground {
	background-color: #6698FF;
}

#resized-40x40 {
	width: 40%;
	height: 40%;
}

#resized-50x50 {
	width:50%;
	height:50%;
}

#resized-30x30 {
	width:30%;
	height:30%;
}

#resized-60x60 {
	width:60%;
	height:60%;
}